{% extends "layout.html" %}
{% block content %}
    <!-- The syntax below is a language called Jinja, which allows us to format the page depending on what is
    returned by our python functions. 
    Note that our upload_passport function in routes.py receives an argument called complete_scan if successful.
    The Jinja code says "if a picture is uploaded, show it, otherwise show 'Image will be rendered here'"-->
    
    <h1>Upload a scan of your passport</h1>
    <!-- action defines where the form sends the data. in this case it sends it to the function
    in routes.py called "upload_passport" -->
    <form action="{{ url_for('upload_passport') }}" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <small class="form-text text-muted">None of the data you upload will be stored.</small>
            <input class="form-control" name="passport_img" type="file" id="formFile">
        </div>
        <button name="submit-button" value="img" type="submit" class="btn btn-primary mb-2">Upload</button>
    </form>
    {% if success_status == 0 %}
        <div class="alert alert-success" role="alert">
            Success! A valid MRZ was detected!
        </div>
        <img src="{{img_uri}}" class="card-img-top img-thumbnail" alt="scanned image of passport">
        <div class="card">
            <h5 class="card-header">MRZ Text</h5>
            <div class="card-body">
            <form action="{{ url_for('upload_passport') }}" enctype="multipart/form-data" method="POST">
                <!-- <p name="mrz-text" class="form-control" class="card-text mrz-text"><pre>{{mrz_text}}</pre></p> -->
                <textarea readonly name="mrz-text" class="card-text form-control mrz-text" rows="3" cols="300">{{ mrz_text }}</textarea> 
                <a href="{{url_for('register', mrz=mrz_text)}}" class="btn btn-primary btn-lg active" role="button">Verify and Continue</a>
            </form>
            </div>
        </div>
        {% elif success_status == -1 %}
        <div class="alert alert-warning" role="alert">
            Sorry, an MRZ could not be detected. Please try again with another image.
        </div>
    {% endif %}

{% endblock content %}